#忽略规则
#/ 结束的模式只匹配文件夹以及在该文件夹路径下的内容，但是不匹配该文件
#/ 开始的模式匹配项目跟目录
#如果一个模式不包含斜杠，则它匹配相对于当前 .gitignore 文件路径的内容，如果该模式不在 .gitignore 文件中，则相对于项目根目录
#** 匹配多级目录，可在开始，中间，结束
#? 通用匹配单个字符
#* 通用匹配零个或多个字符

/src/config.js

