
<title>修改密码</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>修改密码</cite></a>
  </div>
</div>
  
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>
          
          <div class="layui-form" lay-filter="LAY-form-id">
            <div class="layui-form-item">
              <label class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" name="old_password" lay-verify="required" lay-verType="tips" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required" lay-verType="tips" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="confirm_password" lay-verify="required" lay-verType="tips" placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-form-submit">确认</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use(['setter', 'admin', 'view', 'table', 'form'], function(setter, admin, view, table, form){
  //加载jquery
  let $ = layui.$; 

  //表单渲染
  form.render(null, 'LAY-form-id');
  //开启提交
  form.on('submit(LAY-form-submit)', function(data){
    let field = data.field; //获取提交的字段
    if(field.old_password === field.password){
      return layer.msg('当前密码和新密码相同');
    }
    if(field.password !== field.confirm_password){
      return layer.msg('新密码和确认新密码不一致');
    }
    //提交 Ajax 成功后，关闭当前弹层并重载表格
    admin.req({
      url: setter.ip + '/admin/admin/editMyPassword' //实际使用请改成服务端真实接口
      ,type: 'post'
      ,data: field
      ,done: function(res){
        layer.msg(res.message);
        //清除本地 access_token，并强制跳转到登入页
        view.exit();
      }
    });
  });

  //重置表单
  $('button[type="reset"]').on('click', function(){
      $('input').val(''); 
  });     
  
  



})
</script>