

<div class="layui-form" lay-filter="LAY-form-id" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">规则</label>
      <div class="layui-input-block">
        <div id="LAY-tree-id"></div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否启用</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="radio" name="is_use" value="1" title="是" {{ d.params.is_use === 1 ? 'checked' : '' }}>
          <input type="radio" name="is_use" value="2" title="否" {{ d.params.is_use === 2 ? 'checked' : '' }}>
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
        <input type="button" lay-submit lay-filter="LAY-form-submit" value="确认" class="layui-btn">
      </div>
    </div>
</div>
  
<script>
layui.use(['setter', 'admin', 'form', 'tree'], function(setter, admin, form, tree){
  //加载jquery
  let $ = layui.$; 

  //获取 localStorage
  let role = layui.data(setter.tableName).role;

  //获取规则
  admin.req({
      url: setter.ip + '/admin/role/rule' //实际使用请改成服务端真实接口
      ,type: 'get'
      ,data: {}
      ,done: function(res){
          //渲染树形组件
          tree.render({
            elem: '#LAY-tree-id'
            ,data: res.data
            ,id: 'LAY-tree-id'
            ,showCheckbox: true  //是否显示复选框
            ,showLine: false  //是否开启连接线
          });
          let rules = role ? role.rules : '';
          rules = rules.split(',');
          tree.setChecked('LAY-tree-id', rules); //批量勾选
          layer.msg(res.message);
      }
  });


})
</script>